// Colors
$brand-color: #ff8061;
$accent-color: #fdcb6e;

$color-body-copy: #444;
$color-subtitle: #888;
$color-nav-item: #b2bec3;
$color-nav-item-hover: #636e72;

// Fonts
$font: lato, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
