// Colors
$primary: #fda469;
$secondary: #f4cf8d;

$grey-8: #888;
$grey-6: #666;
$grey-4: #444;

// Fonts
$font: lato, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
$fontColor: $primary;
$fontBodyCopy: $font;
$fontBodyCopyColor: #444;
