.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: $font;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: bolder;
  transition: all 200ms ease;
}

.btn-sm {
  padding: 10px 20px;
  font-size: 14px;
}

.btn-primary {
  background: $secondary;
  color: white;
  &:hover {
    background: darken($secondary, 10%);
    color: white;
  }
}
