.index-title {
  margin-top: 0;
  text-align: center;
}

.index-card {
  margin-bottom: 30px;
}

.index-card-img-container {
  display: inline-block;
}

.index-card-title-link {
  text-decoration: none;
}
