.landing-title {
  line-height: 1.4;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.landing-experienceLinks {
  padding: 0 10px;
  margin: 0 20px;
  text-align: center;
}

.landing-experienceLink {
  margin: 0 10px 10px;
}
