.show-page {

}

.show-backLink {
  text-decoration: none;
}

.show-backLinkText {
  display: inline-block;
  padding-top: 1px;
  padding-left: 3px;
  font-size: 16px;
  vertical-align: top;
  text-transform: uppercase;
}

.show-title {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.show-subtitle {
  color: $grey-8;
  font-size: 14px;
  text-transform: uppercase;
}

.show-imageContainer {

}

.show-image {

}
