.show-page {

}

.show-backLink {
  text-decoration: none;
}

.show-backLinkText {
  display: inline-block;
  padding-top: 1px;
  padding-left: 3px;
  font-size: 16px;
  vertical-align: top;
  text-transform: uppercase;
}

.show-title {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.show-subtitle {
  color: $color-subtitle;
  font-size: 14px;
  text-transform: uppercase;
}

.show-externalLink {
  text-decoration: none;
}

.show-externalLinkIcon {
  top: -2px;
  position: relative;
  font-size: 12px;
}

.show-imageContainer {

}

.show-image {

}
